@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
	font-family: Raleway, sans-serif;
	color: #444;
	font-size: 1.4em;
	width: 860px;
	margin: auto;
}
h1{
	border-left: 8px solid #eee;
	padding-left: 16px;
}
pre{
	background-color: #f9f9fa;
	border: 1px solid #eee;
	border-radius: 8px;
	border-left: 6px solid #59D9CB;
	padding-top: 10px;
	padding-left: 26px;
	font-family: 'Fira Code', monospace;
	cursor: help;
}
.objeto{
	padding: 25px;
	border: 1px solid #eee;
	border-radius: 8px;
	box-shadow: 0px 0px 10px 2px rgba(150, 150, 150, 0.2);
}
.objeto:hover{
	background-color: #fafafa;
	cursor: pointer;
}
form{
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	padding: 25px;
	border-radius: 5px;
}
input{
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	width: 97%;
	margin-bottom: 10px;
}
input:hover, input:focus{
	box-shadow: 0px 0px 3px #5da2a7;
	border: 1px solid #ccc;
}

button{
	background-color: #c6c6c6;
	border: 1px solid #ccc;
	padding: 10px 35px;
	border-radius: 5px;
	border: 1px solid #999;
	cursor: pointer;
	font-size: .8em;
	margin-top: 15px;
}
button:hover{
	background-color: #8f8f8f;
	box-shadow: 0px 1px 3px #929292;
	color: #fff;
}
